<h1>Traditional Games</h1>

<h4>Welcome The Traditional Games</h4>

<ul>
    <!-- <li>Click <a href="http://localhost:3000/home">here</a> to go to the home page</li> -->
    <li>Click <a href="http://localhost:3000/login">here</a> to go to the login page</li>
    <li>Click <a href="http://localhost:3000/game">here</a> to go to the game (only valid when you are logged in)</li>
</ul>